@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  z-index: auto;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-image {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/wallpaper.jpg');
  background-size: cover;
  background-position: right;
}

.fix-borders:not(:last-of-type) {
  border-bottom: 0;
}

/* .dropdown {
  overflow: hidden;
}

.dropdown.open {
  overflow: auto;
  animation: hide-scroll 1.2s backwards;
}

@keyframes hide-scroll {
  from, to { overflow: hidden; } 
} */

/* :focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
} */
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
